<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>



	<!-- Bootstrap CSS -->
			<link
		rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous"
	/>
	

	<style>
		.delete	{
			float: right;
		}

		.contact_message {
			border-radius: 5px;
			float: left;
			clear: both;
			background-color: #d3d3d3;
			padding: 10px;
		}

		.user_message {
			border-radius: 5px;
			float: right;
			clear: both;
			background-color: #1982FC;
			padding: 10px;
			color: white;
		}

		.delete_link	{
			float: right;
		}
	</style>


	<title><%= title %> · Taddle</title>
</head>
