<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>

		<!-- Main body -->
		<div class="col-lg" style="text-align: center">
			<br />

			<!-- Profile pic -->
			<svg
				class="bd-placeholder-img rounded-circle"
				width="140"
				height="140"
				xmlns="http://www.w3.org/2000/svg"
				preserveAspectRatio="xMidYMid slice"
				focusable="false"
				role="img"
				aria-label="Placeholder: 140x140"
			>
				<rect width="100%" height="100%" fill="#777"></rect>
				<text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
			</svg>

			<!-- Display name -->
			<h2><%= displayName %></h2>

			<br />

			<!-- Logout button -->
			<a class="btn btn-dark" href="/auth/logout" role="button">Logout</a>
		</div>

		<%- include("./partials/footer.ejs") %>
	</body>
</html>
